<template>
	<base-process :file='file' class='process--code-viewer'>
		<code class='code' v-html='file.data?.content' />
	</base-process>
</template>

<script lang='ts' setup>
	import BaseProcess from '../BaseProcess/BaseProcess.vue'
	import type { File } from '../../../../types'

	defineProps<{ file: File }>()
</script>

<style lang='scss'>
	.process--code-viewer {
		.process {
			&__content {
				width: 100%;
			}
		}
	}
</style>
