<template>
	<base-process :file='file' class='process--notepad'>
		<textarea v-if='!isRichText' v-model='nonReactiveContent' class='notepad__text notepad__text--poor' />
		<div v-else class='notepad__text notepad__text--rich' v-html='nonReactiveContent' />
	</base-process>
</template>

<script lang='ts' setup>
	import { unref } from 'vue'

	import BaseProcess from '../BaseProcess/BaseProcess.vue'
	import type { File } from '../../../../types'
	import { FileType } from '../../../enums/files'

	const props = defineProps<{ file: File }>()
	const nonReactiveContent = unref(props.file.data.content)
	const isRichText = props.file.type === FileType.RICH_TEXT
</script>

<style lang='scss'>
	.process--notepad {
		.process {
			&__content {
				width: 100%;
			}
		}
	}

	.notepad__text {
		border: none;
		margin: 0 auto;
		overflow: scroll;
		resize: none;
		width: 100%;

		&:focus {
			outline: none;
		}

		&--poor {
			min-height: 200px;
			padding: 6px;
		}

		&--rich {
			max-width: 700px;
			padding: 15px;
		}

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
</style>
