@import 'variables';

.theme--#{$os-class} {
	.btn {
		align-items: center;
		background-color: $win-grey;
		border: none;
		box-shadow: inset -1px -1px 0px 0px #404040, inset 1px 1px 0px 0px #FFF, inset -2px -2px 0px 0px #808080, inset 2px 2px 0px 0px #ECEAE7;
		display: flex;
		font-size: 13px;
		height: 26px;
		justify-content: center;
		padding: 0 6px;
		text-decoration: none;

		&--small {
			font-size: 10px;
			height: 18px;
			min-width: 18px;
			padding: 0 4px;
		}

		&:active {
			box-shadow: inset -1px -1px 0px 0px #FFF, inset 1px 1px 0px 0px #404040, inset -2px -2px 0px 0px #ECEAE7, inset 2px 2px 0px 0px #808080;
			padding: 0 5px 0 7px;
		}

		&:focus {
			outline: dotted 1px;
			outline-offset: -5px;
		}
	}
}
