@import 'variables';

.theme--#{$os-class} {
	.process {
		&__toolbar {
			background: gray;
		}

		&__cta-close {
			background-image: url(/assets/icons/windows/close.svg);
		}

		&__cta-maximise {
			background-image: url(/assets/icons/windows/maximise.svg);
		}

		&__cta-minimise {
			background-image: url(/assets/icons/windows/minimise.svg);
		}
	}

	.process-container {
		&--focused {
			.process__toolbar {
				background: linear-gradient(to right, #0A246A 0%, #A6CAF0 100%);
				color: #FFF;
			}
		}
	}
}
