@import 'variables';

.theme--#{$os-class} {
	.taskbar {
		background: $win-systray_background;

		&__start {
			height: auto;
			padding-left: 8px;
			padding-right: 8px;
		}

		.process-list__process {
			height: 100%;
		}

		.process-list__process--focused, .taskbar__systray {
			background: #DFDBDB;
			box-shadow: inset -1px -1px 0px 0px #FFF,
			inset 1px 1px 0px 0px #40404073,
			inset -2px -2px 0px 0px #ECEAE7,
			inset 2px 2px 0px 0px #808080A8;
			padding: 5px 5px 3px 7px;
		}
	}
}
