<template>
	<div class='taskbar-clock'>
		<p class='taskbar-clock__time'>
			{{ time }}
		</p>
		<p class='taskbar-clock__date'>
			{{ date }}
		</p>
	</div>
</template>

<script lang='ts' setup>
	import { ref } from 'vue'

	import { parseDate, parseTime } from './dateTimeParser'

	const date = ref('')
	const time = ref('')

	const updateDateTime = (): void => {
		const now = new Date()
		date.value = parseDate(now)
		time.value = parseTime(now)

		setTimeout(updateDateTime, 60 - now.getUTCSeconds())
	}

	updateDateTime()
</script>

<style lang='scss'>
	.taskbar-clock {
		padding: 2px;
		text-align: center;

		&__time, &__date {
			font-size: 12px;
			margin: 0;
		}
	}
</style>
