<template>
	<div
		:class='{ "process-container--maximised": isMaximised, "process-container--minimised": isMinimised }'
		class='process-container'
		@click.stop
		@process:set-is-minimised='isMinimised = $event.detail'
	>
		<div
			ref='process'
			:class='{ "process--can-resize": !file.meta?.cannotResize }'
			:style='{
				transform: `translate(${left}px, ${top}px)`,
				width: `${processWidth}px`,
				height: `${processHeight}px`,
			}'
			class='process'
			@mousedown='emitProcessFocus'
		>
			<div class='process__toolbar' @dblclick='toggleMaximise' @mousedown='beginGrabbing'>
				<img
					v-if='file.icon'
					:src='file.icon'
					alt=''
					class='process__icon'
				>
				<h1 class='process__title'>
					{{ file.meta?.title }}
				</h1>
				<div class='process__cta-group'>
					<button
						v-if='!file.meta?.cannotMinimise'
						class='btn btn--small process__cta-minimise'
						@click='minimiseProcess'
						@mousedown.stop
					/>
					<button
						v-if='!file.meta?.cannotMaximise'
						class='btn btn--small process__cta-maximise'
						@click='toggleMaximise'
						@mousedown.stop
					/>
					<button class='btn btn--small process__cta-close' @click='$emit("process:close")' @mousedown.stop />
				</div>
			</div>
			<div class='process__content'>
				<slot />
			</div>
		</div>
	</div>
</template>

<script lang='ts' setup>
	import { onMounted, onUnmounted, ref } from 'vue'
	import type { Ref } from 'vue'

	import type { File, Point } from '../../../../types'

	const props = defineProps<{ file: File }>()
	const emit = defineEmits<{
		(_: 'process:close'): void;
		(_: 'process:focus'): void;
		(_: 'process:minimise'): void;
	}>()

	const process: Ref<HTMLElement | null> = ref(null)
	const processWidth = ref(-1)
	const processHeight = ref(-1)
	const containerWidth = ref(-1)
	const containerHeight = ref(-1)
	const left = ref(-1)
	const top = ref(-1)
	const isMaximised = ref(false)
	const isMinimised = ref(false)
	const hasInitialised = ref(false)
	let grabStart: Point = { x: -1, y: -1 }
	let modalStart: Point = { x: -1, y: -1 }

	let hasSetDefaultSize = false
	const setPosition = (): void => {
		const processElement = process.value as HTMLElement

		const { offsetWidth: parentWidth, offsetHeight: parentHeight } = processElement.parentElement as HTMLElement
		const { offsetWidth: width, offsetHeight: height } = processElement
		processWidth.value = hasSetDefaultSize ? width : Math.max(props.file.meta?.defaultSize?.width || 0, width)
		processHeight.value = hasSetDefaultSize ? height : Math.max(props.file.meta?.defaultSize?.height || 0, height)
		containerWidth.value = parentWidth
		containerHeight.value = parentHeight
		left.value = containerWidth.value / 2 - processWidth.value / 2
		top.value = containerHeight.value / 2 - processHeight.value / 2

		hasSetDefaultSize = true
	}

	onMounted(() => {
		if (!props.file.meta?.cannotResize) {
			new ResizeObserver(([{ borderBoxSize: [{ inlineSize, blockSize }] }]) => {
				if (hasInitialised.value && !isMaximised.value && !isMinimised.value) {
					processWidth.value = inlineSize
					processHeight.value = blockSize
				}

				hasInitialised.value = true
			}).observe(process.value as HTMLElement)
		} else {
			hasInitialised.value = true
		}

		setPosition()
	})

	const emitProcessFocus = (): void => emit('process:focus')
	const minimiseProcess = (): void => {
		isMinimised.value = true
		emit('process:minimise')
	}

	const toggleMaximise = (): void => {
		isMaximised.value = !isMaximised.value && !props.file.meta?.cannotMaximise
		emitProcessFocus()
	}

	const beginGrabbing = ({ x, y, button }: MouseEvent): void => {
		if (
			button ||
			isMaximised.value ||
			!(process.value instanceof HTMLElement) ||
			!(process.value.parentElement instanceof HTMLElement)
		) {
			return
		}

		grabStart = { x, y }
		processWidth.value = process.value.offsetWidth
		processHeight.value = process.value.offsetHeight
		modalStart = { x: left.value, y: top.value }
		const { offsetWidth: parentWidth, offsetHeight: parentHeight } = process.value.parentElement
		containerWidth.value = parentWidth
		containerHeight.value = parentHeight
		document.body.addEventListener('mousemove', mouseMove)
		document.body.addEventListener('mouseup', endGrabbing)
		document.body.addEventListener('mouseleave', endGrabbing)
	}

	const endGrabbing = (): void => {
		document.body.removeEventListener('mousemove', mouseMove)
		document.body.removeEventListener('mouseup', endGrabbing)
		document.body.removeEventListener('mouseleave', endGrabbing)
	}

	onUnmounted(endGrabbing)

	const mouseMove = ({ x, y }: MouseEvent): void => {
		let leftFinal = modalStart.x + (x - grabStart.x)
		let topFinal = modalStart.y + (y - grabStart.y)

		const leftIsBeforeScreen = leftFinal < 0
		const leftIsAfterScreen = leftFinal + processWidth.value > containerWidth.value
		if (leftIsBeforeScreen || leftIsAfterScreen) {
			if (leftIsBeforeScreen) {
				leftFinal = 0
			} else {
				leftFinal = containerWidth.value - processWidth.value
			}

			modalStart.x = leftFinal
			grabStart.x = Math.max(Math.min(x, containerWidth.value - 5), 5)
		}

		const topIsBeforeScreen = topFinal < 0
		const topIsAfterScreen = topFinal + processHeight.value > containerHeight.value
		if (topIsBeforeScreen || topIsAfterScreen) {
			if (topIsBeforeScreen) {
				topFinal = 0
			} else {
				topFinal = containerHeight.value - processHeight.value
			}

			modalStart.y = topFinal
			grabStart.y = Math.max(Math.min(y, containerHeight.value), 5)
		}

		left.value = leftFinal
		top.value = topFinal
	}
</script>

<style lang='scss'>
	$root: '.process';

	#{$root}-container {
		&--minimised {
			display: none;
		}

		&--maximised {
			&, #{$root} {
				max-width: 100% !important;
				width: 100% !important;
			}

			#{$root} {
				flex-direction: column;
				flex-wrap: nowrap;
				height: 100% !important;
				transform: translate(0, 0) !important;

				&__content {
					flex: 0 1 100%;
					max-height: none;
					overflow: auto;
					width: 100vw;
				}
			}
		}

		&:not(&--maximised) {
			#{$root}--can-resize {
				resize: both;
			}
		}
	}

	#{$root} {
		align-items: flex-start;
		box-shadow: inset -1px -1px 0px 0px #404040,
		inset 1px 1px 0px 0px #ECEAE7,
		inset -2px -2px 0px 0px #808080,
		inset 2px 2px 0px 0px #FFF;
		display: inline-flex;
		flex-direction: column;
		max-height: 100%;
		max-width: 90%;
		min-height: 150px;
		min-width: 150px;
		overflow: hidden;
		padding: 2px;
		pointer-events: auto;
		resize: none;

		@media (max-width: 500px) {
			height: 80%;
		}

		&__toolbar {
			border: 1px solid #D4D0C8;
			display: flex;
			padding: 3px 3px 3px 8px;
			user-select: none;
			width: 100%;
		}

		&__icon {
			align-self: center;
			margin-right: 6px;
			max-height: 16px;
			object-fit: contain;
			width: 16px;
		}

		&__title {
			align-self: center;
			flex: 0 1 100%;
			font-size: 13px;
			font-weight: bold;
			line-height: 20px;
			margin: 0 20px 0 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		&__cta-group {
			align-items: center;
			display: flex;
			flex: 1 0 auto;
			margin-left: auto;

			> :not(:last-child) {
				margin-right: 2px;
			}

			> * {
				background-position: 50% 50%;
				background-size: 14px auto;
			}
		}

		&__content {
			background: #FFF;
			border: 2px solid #D4D0C8;
			border-top: none;
			display: flex;
			flex: 0 1 100%;
			height: auto;
			overflow: auto;
			width: 100%;
		}
	}
</style>
