<template>
	<base-process :file='file' class='process--alert'>
		<p class='alert__message'>
			{{ file.data?.content }}
		</p>
		<button ref='cta' class='btn btn--primary alert__dismiss' @click='$emit("process:close")'>
			Close
		</button>
	</base-process>
</template>

<script lang='ts' setup>
	import { onMounted, ref } from 'vue'
	import type { Ref } from 'vue'

	import BaseProcess from '../BaseProcess/BaseProcess.vue'
	import type { File } from '../../../../types'

	defineProps<{ file: File }>()
	defineEmits<{ (_: 'process:close'): void }>()

	const cta: Ref<HTMLButtonElement | null> = ref(null)

	onMounted(() => {
		if (cta.value instanceof HTMLButtonElement) {
			cta.value.focus()
		}
	})
</script>

<style lang='scss'>
	.process--alert {
		.process {
			min-height: 108px;
			min-width: 300px;

			&__content {
				align-self: flex-start;
				background: inherit;
				color: #000;
				flex-wrap: wrap;
				padding: 6px;
			}
		}
	}

	.alert {
		&__message {
			flex: 1 0 100%;
			font-size: 14px;
			margin: 0;
		}

		&__dismiss {
			margin: 16px auto 0;
		}
	}
</style>
