<template>
	<div class='app'>
		<the-desktop
			class='app__desktop'
			@click='blurActiveProcess'
			@process:close='removeProcess'
			@process:focus='setProcessFocus'
			@process:minimise='blurActiveProcess'
		/>
		<the-taskbar class='app__taskbar' @click='blurActiveProcess' @taskbar:application-click='minimiseToggle' />
	</div>
</template>

<script lang='ts' setup>
	import { blurActiveProcess, minimiseToggle, removeProcess, setProcessFocus } from '../../store/processes'
	import TheDesktop from '../Desktop/TheDesktop.vue'
	import TheTaskbar from '../Taskbar/TheTaskbar.vue'
</script>

<style lang='scss'>
	@import 'src/scss';

	*, ::before, ::after {
		box-sizing: border-box;
	}

	body {
		-webkit-font-smoothing: antialiased;
		margin: 0;
		-moz-osx-font-smoothing: grayscale;
	}

	#app {
		color: #2C3E50;
		overflow: hidden;
		position: relative;
	}

	.app {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		&__desktop {
			flex: 1 0 100%;
		}

		&__taskbar {
			flex: 0 0 auto;
			position: relative;
			z-index: 5;
		}
	}
</style>
