<template>
	<div class='taskbar'>
		<button class='btn taskbar__start' @click.stop='openStartMenu'>
			<span class='taskbar__start-label'>Start</span>
		</button>
		<div class='taskbar__process-list'>
			<button
				v-for='({ file, id, zIndex }) in processes'
				:key='id'
				:class='{ "process-list__process--focused": zIndex === processZIndex - 1 }'
				class='btn process-list__process'
				@click.stop='$emit("taskbar:application-click", id)'
			>
				<img :src='file.icon || getIconFromFileType(file.type)' alt='' class='process-list__process-icon'>
			</button>
		</div>
		<div class='taskbar__systray'>
			<taskbar-clock class='taskbar__clock' />
		</div>
	</div>
</template>

<script lang='ts' setup>
	import { processes, processZIndex } from '../../store/processes'
	import { FileType } from '../../enums/files'
	import { getIconFromFileType } from '../../helpers/icons'
	import { openFile } from '../../helpers/files'
	import TaskbarClock from './TaskbarClock/TaskbarClock.vue'

	defineEmits<{ (_: 'taskbar:application-click', id: number): void }>()

	const openStartMenu = (): void => {
		openFile({
			data: { content: 'Can you imagine! (Maybe one day.)' },
			meta: {},
			name: 'Error: functionality missing',
			type: FileType.ALERT,
		})
	}
</script>

<style lang='scss'>
	.taskbar {
		align-items: stretch;
		border-top: 2px groove #AAA;
		display: flex;
		padding: 3px 7px 3px 3px;

		.taskbar {
			&__process-list {
				display: flex;
				margin: 0 20px 0 15px;
				overflow: hidden;
			}

			&__systray {
				display: flex;
				flex: 0 0 auto;
				margin-left: auto;
			}

			&__icons {
				align-self: self-end;
				margin: 0 10px 0 auto;
			}

			&-icon {
				background: no-repeat 50% 50%/100% auto;
				display: inline-block;
				height: 24px;
				width: 24px;

				&--no-network {
					background-image: url(/assets/icons/network-disconnected.svg);
				}
			}
		}

		.process-list {
			display: flex;

			&__process-icon {
				height: 26px;
				width: 26px;
			}
		}
	}
</style>
