<template>
	<base-process :file='file' class='process--explorer'>
		<file-list :files='file.data.files || []' layout='icon-row' />
	</base-process>
</template>

<script lang='ts' setup>
	import BaseProcess from '../BaseProcess/BaseProcess.vue'
	import type { File } from '../../../../types'
	import FileList from '../../FileList/FileList.vue'

	defineProps<{ file: File }>()
</script>

<style lang='scss'>
	.process--explorer {
		.process {
			width: 30vw;

			&__content {
				height: inherit;
				padding: 6px;
				width: 100%;
			}
		}

		.file-list__label {
			color: #222;
			text-shadow: none;
		}
	}
</style>
