@import 'variables';

.theme--#{$os-class} {
	.btn {
		background: no-repeat 50% 50%/100% auto;
		border: none;
		//box-shadow: inset -1px -1px 0px 0px #404040, inset 1px 1px 0px 0px #FFF, inset -2px -2px 0px 0px #808080, inset 2px 2px 0px 0px #ECEAE7;
		//font-size: 13px;
		padding: 4px 6px;
		text-decoration: none;
		vertical-align: middle;

		&--primary, &--secondary {
			border-radius: 8px;
			padding: 2px 18px;
		}

		&--primary {
			background: no-repeat 50% 50%/100% auto rgb(109, 180, 251);
			background: linear-gradient(180deg, rgba(109, 180, 251, 1) 0%, rgba(4, 124, 255, 1) 100%);
			border: 1px solid #4290F9;
			border-bottom-color: #1D6EF8;
			border-top-color: #53A6F9;
			color: #FFF;
			font-size: 14px;
		}

		&--secondary {
			background-color: #FFF;
			border: 1px solid #d7d7d7;
			border-bottom-color: #b7b7b7;
			border-top-color: #d6d6d6;
		}

		&--small {
			font-size: 10px;
			height: 18px;
			min-width: 18px;
			padding: 2px 4px;
		}

		//&:active {
		//	box-shadow: inset -1px -1px 0px 0px #FFF, inset 1px 1px 0px 0px #404040, inset -2px -2px 0px 0px #ECEAE7, inset 2px 2px 0px 0px #808080;
		//	padding: 5px 5px 3px 7px;
		//}
	}
}
