@import 'variables';

.theme--#{$os-class} {
	.taskbar {
		align-items: center;
		background: #dfe1ee;
		border-bottom: 1px solid #c4c8d3;
		border-top: 1px solid #e4e6f2;
		box-shadow: 0 -1px #83868d, 0 1px rgba(0, 0, 0, 0.2);
		padding: 1px 16px;

		&__start {
			background: url(/assets/icons/macos/logo.svg) no-repeat 50% 50%/auto 20px;
			cursor: pointer;
			height: 22px;
			padding: 0;

			&-label {
				visibility: hidden;
			}
		}

		&__process-list {
			display: none;
		}
	}
}
