@import 'variables';

.theme--#{$os-class} {
	.process--alert {
		.process {
			background: $mac-alert_background;

			&__content {
				padding: 30px;
			}

			.alert__dismiss {
				margin: 30px 0 0 auto;
			}
		}
	}
}
