@import 'variables';

.theme--#{$os-class} {
	.process {
		border: 1px solid #A1A1A1;
		border-bottom-color: #7C7C7C;
		border-top-color: #D0D0D0;
		border-radius: 10px;
		box-shadow: 0 0 30px 8px #0000005C;
		padding: 0;

		&__toolbar {
			background: linear-gradient(to bottom, #E9E6E9 0%, #D2D0D2 100%);
			color: #333;
		}

		&__cta-group {
			left: 8px;
			position: absolute;
			top: 4px;
		}

		&__cta-close {
			background-image: url(/assets/icons/macos/close.svg);
			margin-right: 2px;
			order: -1;
		}

		&__cta-maximise {
			background-image: url(/assets/icons/macos/maximise.svg);
		}

		&__cta-minimise {
			background-image: url(/assets/icons/macos/minimise.svg);
		}

		&__toolbar, &__content {
			border: none;
		}

		&__toolbar {
			border-bottom: 1px solid #C5C3C5;
		}

		&__content {
			border-top: 1px solid #BAB9BA;
		}

		&__icon {
			margin-left: auto;
		}

		&__title {
			flex: 0 auto;
			margin-right: auto;
		}
	}

	.process-container {
		&--focused {
			.process__toolbar {
			}
		}
	}
}
