<template>
	<ul :class='`file-list--layout-${layout}`' class='file-list'>
		<li v-for='(file, index) in files' :key='index' class='file-list__item'>
			<button class='file-list__button' @dblclick='openFile(file)' @keydown.enter='openFile(file)'>
				<img :src='file.icon || getIconFromFileType(file.type)' alt='' class='file-list__icon'>
				<span class='file-list__label'>{{ file.name }}</span>
			</button>
		</li>
	</ul>
</template>

<script lang='ts' setup>
	import type { File } from '../../../types'
	import { getIconFromFileType } from '../../helpers/icons'
	import { openFile } from '../../helpers/files'

	withDefaults(defineProps<{
		files: File[];
		layout?: 'icon-row' | 'icon-column' | 'details';
	}>(), {
		layout: 'icon-row',
	})
</script>

<style lang='scss'>
	.file-list {
		align-content: flex-start;
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		overflow: auto;
		padding: 0;

		&--layout-icon-column {
			align-items: flex-start;
			flex-direction: column;
		}

		&__item {
			margin-bottom: 8px;
			text-align: center;
			width: 82px;
		}

		&__icon {
			height: 38px;
			width: 38px;
		}

		&__button {
			align-items: center;
			appearance: none;
			background: none;
			border: 1px dotted transparent;
			border-radius: 2px;
			display: flex;
			flex-direction: column;
			margin: 0;
			padding: 2px;
			width: inherit;

			&:focus {
				background: rgba(15, 75, 255, 0.3);
				border-color: #222;
			}
		}

		&__label {
			color: #FFF;
			text-shadow: 1px 1px 1px #000;
			word-wrap: anywhere;
		}
	}
</style>
