<template>
	<base-process ref='baseProcessElement' :file='file' class='process--image-viewer'>
		<p v-if='isLoading'>
			Loading...
		</p>
		<img
			v-else
			:src='file.data.content'
			alt=''
			class='image-viewer__image'
		>
	</base-process>
</template>

<script lang='ts' setup>
	import { onMounted, ref } from 'vue'
	import type { Ref } from 'vue'

	import BaseProcess from '../BaseProcess/BaseProcess.vue'
	import type { File } from '../../../../types'

	const props = defineProps<{ file: File }>()

	const baseProcessElement: Ref<typeof BaseProcess | null> = ref(null)
	const isLoading = ref(true)

	onMounted(() => {
		if (!props.file.data.content) {
			return
		}

		const image = new Image()
		image.onload = async (): Promise<void> => {
			isLoading.value = false
		}

		image.src = props.file.data.content
	})
</script>

<style lang='scss'>
	.process--image-viewer {
		.process__content {
			justify-content: center;
			width: 100%;
		}
	}

	.image-viewer {
		&__image {
			margin: 0 auto;
			max-width: 100%;
			object-fit: contain;
		}
	}
</style>
