.flex {
	display: flex;
	font-family: Calibri, Avenir, Helvetica, Arial, sans-serif;
	justify-content: flex-start;

	> * {
		flex: 1 0 auto;
		padding-right: 16px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}

		h1, h2, h3, h4 {
			font-family: Cambria, serif;
		}

		h2, h3, h4 {
			font-weight: 400;
		}

		p {
			line-height: 1.4;
		}
	}

	.col-1 {
		flex-basis: 8.33%;
	}

	.col-2 {
		flex-basis: 16.66%;
	}

	.col-3 {
		flex-basis: 25%;
	}

	.col-4 {
		flex-basis: 33.33%;
	}

	.col-5 {
		flex-basis: 41.66%;
	}

	.col-6 {
		flex-basis: 50%;
	}

	.col-7 {
		flex-basis: 58.33%;
	}

	.col-8 {
		flex-basis: 66.66%;
	}

	.col-9 {
		flex-basis: 75%;
	}

	.col-10 {
		flex-basis: 83.33%;
	}

	.col-12 {
		flex-basis: 100%;
	}

	@media (max-width: 768px) {
		flex-wrap: wrap;

		.col-1 {
			flex-basis: 16.66%;
		}

		.col-2 {
			flex-basis: 33.33%;
		}

		.col-3 {
			flex-basis: 50%;
		}

		.col-4 {
			flex-basis: 75%;
		}

		.col-5 {
			flex-basis: 83.33%;
		}
	}
}

.border-bottom {
	border-bottom: 1px solid #000;
}

.p-b-10 {
	padding-bottom: 10px;
}

.p-b-20 {
	padding-bottom: 20px;
}

.m-0 {
	margin: 0;
}

.m-t-20 {
	margin-top: 20px;
}
