.code {
	background: #282A36;
	color: #F8F8F2;
	display: block;
	font-family: Monaco, Inconsolata, 'Andale Mono', Consolas, monospace;
	font-size: 14px;
	overflow: auto;
	padding: 0 12px;
	position: relative;
	white-space: pre-wrap;
	width: 100%;

	.comment {
		color: #6272A4;
	}

	.keyword {
		color: #F55;
	}

	.function {
		color: #FFB86C;
	}

	.string {
		color: #50FA7B;
	}

	.number {
		color: #8BE9FD;
	}

	.pink {
		color: #FF79C6;
	}
}

.bold {
	font-weight: bold;
}
