<template>
	<div class='desktop__container'>
		<div class='desktop'>
			<file-list :files='desktop' layout='icon-column' />

			<div>
				<component
					:is='component'
					v-for='({ component, file, id, zIndex }, index) in processes'
					:key='id'
					:class='{
						"process-container--focused": zIndex === processZIndex - 1,
					}'
					:style='{ zIndex }'
					class='desktop__process'
					v-bind='{ file, id: `process-${id}` }'
					@process:close='$emit("process:close", index)'
					@process:focus='$emit("process:focus", id)'
					@process:minimise='$emit("process:minimise", id)'
				/>
			</div>
		</div>
	</div>
</template>

<script lang='ts' setup>
	import { processes, processZIndex } from '../../store/processes'
	import { desktop } from '../../data/directoryListings'
	import FileList from '../FileList/FileList.vue'

	defineEmits<{
		(_: 'process:close', index: number): void;
		(_: 'process:focus', id: number): void;
		(_: 'process:minimise', id: number): void;
	}>()
</script>

<style lang='scss'>
	.desktop {
		background: no-repeat 50% 50%/cover;
		box-sizing: border-box;
		flex: 1 0 100%;
		padding: 10px;

		&__container {
			display: flex;
			flex-direction: column;
			position: relative;
		}

		&__process {
			bottom: 0;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
</style>
